@import '../../style/common';
/*
常用，高级查询样式
*/
.tableCell {
  display: table-cell;
}

.queryWrap {
  background: #fff;
  border-radius: 20px;
  height: 150px;
  overflow-Y: auto;
  padding: 15px 15px 0;
  &-ul {
    display: flex;
    flex-wrap: wrap;
    padding-left:10px;
  }
  &-advance {
    margin-top: 10px;
  }
  &-li {
    border: 1px solid #F1F2F4;
    border-radius: 20px;
    color: #999;
    padding: 5px 15px;
    margin: 1px 15px 10px 1px;
    cursor:pointer;
  }
  &-li.active {
    border-color: $themeColor;
    color: $themeColor;
  }
}
